a {
	text-decoration: none;
	color:gray;
}




ul{
	list-style-type: none;
	margin: 10px 10px 100px	300px;
	margin:0;
	padding-left:500px;
	text-align: center;
}

img{
	margin: 0px 0px 0px 800px;
}
li{
	display: inline-block;
	margin: 10px 10px 10px	250px;
	padding: 10px;
	padding-left: 100px;
}

form{
	
	text-align: center;
}

.footer{
	display: inline-block;
}